.discussion {
  position: relative;
  padding-top: 180px;
  padding-bottom: 130px;

  &__phone {
    position: absolute;
    top: 35%;
    left: 10%;
  }

  &__figure {
    position: absolute;
    top: 35%;
    right: 15%;
  }
}

.discussion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;

  &__title {
    margin-bottom: 25px;
  }

  &__desc {
    margin-bottom: 30px;
    text-align: center;
  }

  &__mobile-phone {
    display: none;
  }
}

.invalid-field-message {
  position: absolute;
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
  right: 6px;
  top: 2px;
}

.invalid-field {
  border: 2px solid red;
  border-radius: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;

  &__wrapper {
    position: relative;
  }

  &__input {
    margin-bottom: 20px;
    min-width: 470px;
  }

  &__btn {
    margin-top: 10px;
  }
}

@media(max-width: 1400px) {
  .discussion {
    &__phone {
      left: 2%;
    }

    &__figure {
      right: 2%;
    }
  }
}

@media(max-width:1200px) {
  .discussion {
    &__phone {
      top: -2%;
    }

    &__figure {
      bottom: 5%;
      top: initial;
    }
  }
}

@media(max-width: 992px) {
  .discussion {
    &__phone {
      width: 30%;
    }

    &__figure {
      width: 15%;
    }
  }
}

@media(max-width: 575px) {
  .discussion {
    padding-bottom: 25px;
    padding-top: 42px;

    &__phone {
      display: none;
    }

    &__figure {
      display: none;
    }
  }

  .contact-form {
    &__input {
      min-width: 100%;
    }
  }

  .discussion-content {
    &__mobile-phone {
      display: block;
      margin-top: 42px;
      width: 100%;
    }
  }
}