.stages {
  position: relative;
  padding-top: 120px;
  padding: 120px 20px 270px;
  padding-bottom: 270px;
  overflow: hidden;

  &__sphere {
    position: absolute;
    top: 12%;
    left: 8%;
  }

  &__wave {
    position: absolute;
    right: 10%;
    bottom: 5%;
  }

  &__arrows {
    bottom: 15%;
  }
}

.stages-list {
  display: flex;
  max-height: 390px;
}

.stages-content {
  overflow: initial;

  &__title {
    margin-bottom: 82px;
  }
}

.stage-item {
  display: flex;
  align-items: center;
  max-width: 690px;
  padding: 50px 30px 60px 70px;
  border: 2px solid $main-color;
  border-radius: $border-radius;
}

.stage-text-wrapper {
  &__subtitle {
    margin-bottom: 20px;
  }
}

@media(max-width:991px) {
  .stages {
    &__sphere {
      top: 3%;
    }
  }
}

@media(max-width: 768px) {
  .stage-item {
    padding: 30px 35px;
    flex-direction: column;
    justify-content: space-between;
  }

  .stages-list {
    max-height: 560px;
  }

  .stage-text-wrapper {
    &__subtitle {
      margin-bottom: 5px;
    }

    &__desc {
      margin-bottom: 10px;
    }
  }
}

@media(max-width: 575px) {
  .stages {
    padding: 42px 20px 150px;

    &__wave {
      display: none;
    }

    &__sphere {
      width: 10%;
      left: -6%;
    }

    &__arrows {
      bottom: 10%;
    }
  }

  .stages-list {
    max-height: 730px;
  }

  .stage-item {
    &__img {
      width: 100%;
      max-width: 250px;
    }
  }

  .stages-content {
    &__title {
      margin-bottom: 25px;
    }
  }
}