@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');
@import 'bootstrap/dist/css/bootstrap-reboot.css';
@import 'accordion-js/dist/accordion.min.css';
@import '@splidejs/splide/css';

@import './base/variables';
@import './base/reuse-parts';
@import './base/icons';

body {
  font-family: 'Montserrat', sans-serif;
}

@import 'parts/header';
@import 'parts/promo';
@import 'parts/services';
@import 'parts/stages';
@import 'parts/shops';
@import 'parts/callback';
@import 'parts/discussion';
@import 'parts/footer';