@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?nkz2on');
  src:  url('/fonts/icomoon.eot?nkz2on#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?nkz2on') format('truetype'),
    url('/fonts/icomoon.woff?nkz2on') format('woff'),
    url('/fonts/icomoon.svg?nkz2on#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\e900";
  color: #fff;
}
.icon-viber:before {
  content: "\e901";
  color: #fff;
}
.icon-telegram:before {
  content: "\e902";
  color: #fff;
}
.icon-facebook:before {
  content: "\e903";
  color: #fff;
}
.icon-instagram:before {
  content: "\e904";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-down:before {
  content: "\e906";
}
