@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?qfwx9w');
  src:  url('/fonts/icomoon.eot?qfwx9w#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?qfwx9w') format('truetype'),
    url('/fonts/icomoon.woff?qfwx9w') format('woff'),
    url('/fonts/icomoon.svg?qfwx9w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram-mobile:before {
  content: "\e908";
  color: #fff;
}
.icon-viber-mobile:before {
  content: "\e909";
  color: #fff;
}
.icon-whatsapp-mobile:before {
  content: "\e90a";
  color: #fff;
}
.icon-instagram-mobile:before {
  content: "\e90b";
  color: #fff;
}
.icon-facebook-mobile:before {
  content: "\e90c";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-whatsapp:before {
  content: "\e900";
  color: #fff;
}
.icon-viber:before {
  content: "\e901";
  color: #fff;
}
.icon-telegram:before {
  content: "\e902";
  color: #fff;
}
.icon-facebook:before {
  content: "\e903";
  color: #fff;
}
.icon-instagram:before {
  content: "\e904";
  color: #fff;
}
.icon-arrow-down:before {
  content: "\e906";
}
