.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #111111;
}

.subtitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.bg-color-main {
  background-color: $main-color;
}

.bg-color-skyblue {
  background-color: $main-skyblue;
}

.btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: $main-green;
  border-radius: $btn-border-radius;
  transition: $transition;
  border: 2px solid transparent;


  &--md-size {
    padding: 9px 40px;

    &:hover {
      border: 2px solid #fff
    }

    &:active {
      color: $main-color;
      background-color: #fff;
    }
  }

  &--lg-size {
    padding: 22px 92px;

    &:hover {
      border: 2px solid $main-color
    }

    &:active {
      background-color: $main-color;
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// arrows
.arrows-nav {
  position: absolute;
  width: 200px;
  right: 50%;
  transform: translateX(50%);

  &__arrow {
    transition: $transition;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    padding: 8px;
    background: #fff;
    border: 2px solid $main-color;
    opacity: 1;

    &:disabled {
      border: 1px solid rgba(214, 213, 199, 0.5);
      background: rgba(214, 213, 199, 0.5);
    }
  }
}

@media(max-width: 575px) {
  .btn {
    &--lg-size {
      width: 100%;
    }
  }

  .desc {
    font-size: 17px;
  }

  .title {
    font-size: 23px;
  }

  .arrows-nav {
    width: 270px;
  }
}